<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463823851575-tue2ek01dfaotm3gg2opv1t6i8so9hvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463823851575-tue2ek01dfaotm3gg2opv1t6i8so9hvj</string>
	<key>API_KEY</key>
	<string>AIzaSyCKJmqkmXiC70NEzXJ2lB-mOwtEuLOXxGM</string>
	<key>GCM_SENDER_ID</key>
	<string>463823851575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviez.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moviez-e60db</string>
	<key>STORAGE_BUCKET</key>
	<string>moviez-e60db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463823851575:ios:5f4e058994e6ae493dafb2</string>
</dict>
</plist>